Repository NateRadebaugh/bundlephobia-inline, changes with the labels that .github/labeler.yml gives for each.
All labels: test, storybook, docs, styles

.github/labeler.yml:

# Add 'test' label to any change to *.test.* files within the source dir
test:
  - src/**/*.test.*

# Add 'storybook' label
storybook:
  - .storybook/**/*
  - src/**/*.stories.*

# Add 'docs' label
docs:
  - .storybook/**/*
  - ./**/*.md
  - ./**/*.mdx

# Add 'config' label
config:
  - ./**/!(*.md|*.mdx)

# Add 'styles' label
styles:
  - ./**/*.css
  - ./**/*.scss

More github setup files
  .all-contributorsrc
  kodiak.toml
  now.json
Labels: none

Show loading/error in story before API returns
  src/Bundlephobia.stories.tsx
Labels: storybook

v0.1.1
  package.json
Labels: none

v0.1.2
  package.json
Labels: none

Add support for storybook knobs
  .storybook/main.js
  package.json
  yarn.lock
Labels: storybook, docs

Rename export to BundlephobiaInline, fix a few bugs
  src/index.tsx
Labels: none

Add knobs to storybook to try out different package names
  src/Bundlephobia.stories.tsx
Labels: storybook

v0.1.3
  package.json
Labels: none

Update README.md
  README.md
Labels: docs

Move `kodiak.toml` to `.kodiak.toml` oops
  .kodiak.toml
Labels: none

Pin default stories to single version of react-query to avoid chromatic UI errors
  src/Bundlephobia.stories.tsx
Labels: storybook

chore(dev-deps): Update storybook to 6
  .storybook/main.js
  package.json
  yarn.lock
Labels: storybook, docs

chore(deps): Bump lock deps
  yarn.lock
Labels: none
